.control-label {
    padding-top: 0px !important;
}

.input-error {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

pre.language-xml, pre.language-apacheconf, pre.language-bash {
    margin-bottom: 16px !important;
}
